@media screen and (min-width:0px) and (max-width: 690px){
    .left4{
        display: none;
    }
    .contact-page{
        display: flex;
        justify-content: center;
    }
    .right4{
        width: 90vw;
    }
    .message-in{
        height: calc(15em + 15vw);
    }
}